@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

header {
  grid-area: header; }

/*nav {
    grid-area: nav;
    margin-top: -10px;
}*/
main {
  grid-area: main; }

.padreFlex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center; }

.tablaProductos {
  /*margin: 0px 0px 0px 250px;*/
  /*width: 50px;*/
  background-color: #000000c5;
  text-transform: initial;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.tablaProductos2 {
  margin: 0px 0px 0px 250px;
  width: 50px;
  color: white;
  background-color: #000000c5;
  text-transform: initial;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

/*.grid {
    display: grid;
    grid-template-areas: "header header header"
                         "nav nav nav"
                         "main main main"
                         "footer footer footer";
    gap: 10px;
}*/
#padre {
  display: grid;
  width: 100%;
  height: 600px;
  grid-template-columns: auto auto;
  grid-column-gap: 1px;
  grid-template-rows: auto auto;
  grid-row-gap: 1px;
  border: 3px solid black;
  margin-top: 5px;
  margin-bottom: -10px; }

#padre div {
  border: 3px solid black;
  font-size: 25px;
  font-style: italic;
  color: red;
  padding: 3px;
  background-color: orange; }

.whatsapp {
  position: fixed;
  bottom: 15px;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 2; }

footer {
  margin-top: 15px;
  grid-area: footer; }

.formulario {
  margin-top: 5px; }

.card__Tamaño {
  width: 500px;
  display: flex;
  flex-direction: row; }

@media only screen and (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-areas: "header" "nav" "main" "footer"; }
  body {
    color: #FFFFFF;
    background-color: #000000;
    background-image: none;
    font-size: 13px; } }

@media only screen and (max-width: 1024px) {
  .grid {
    display: grid;
    grid-template-areas: "header header" "nav nav" "main main" "footer footer"; }
  body {
    background-image: none;
    color: #6e8d17;
    background-color: #a72e2e;
    font-size: 13px; } }

header {
  background-color: black; }

p {
  background-color: rgba(10, 10, 10, 0.699);
  color: whitesmoke; }

section div {
  border: 3px solid black;
  color: red;
  background-color: orange; }

.subListas {
  color: #FFFF; }

.quitarDecorado {
  text-decoration: none; }

.textoImages {
  text-align: center;
  font-size: 40px;
  color: whitesmoke;
  font-weight: bold;
  padding: 0px;
  border: solid 1px black;
  font-family: Impact; }

.textoEnImg {
  text-align: center;
  color: red;
  font-family: Georgia, Times, 'Times New Roman', serif; }

.textoEnImg2 {
  text-align: center;
  color: #c538b2;
  font-family: Georgia, Times, 'Times New Roman', serif; }

.rampart {
  font-family: 'Rampart One', cursive; }

.subListas {
  font-style: italic;
  font-size: 15px; }

h1 {
  font-size: 70px;
  font-family: fantasy;
  letter-spacing: 6px;
  color: #ddbd05; }

p {
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  padding: 0px;
  border: solid 1px black;
  font-family: Impact; }

section div {
  font-size: 25px;
  font-style: italic;
  padding: 3px; }

legend {
  text-align: center;
  margin-top: 10px; }

.encabezado .encabezado__titulo {
  font-size: 70px;
  font-family: fantasy;
  letter-spacing: 6px;
  color: #ddbd05; }

.encabezado .encabezado__logo {
  width: 126px;
  margin: -70px -20px; }

.videoIndex .videoIndex__tamaño {
  margin-top: 10px; }

.footerPie a {
  font-family: cursive;
  color: #ddbd05;
  text-decoration: none;
  font-size: 20px; }

.footerPie .footerPie__icono {
  width: 41px;
  margin: -7px 0px 0px;
  position: relative; }

footer {
  background-image: linear-gradient(#ddbd05, black, black, #ddbd05); }

h1 {
  animation-duration: 10s;
  animation-name: aparecer;
  animation-delay: 0s; }

#bannerMother {
  text-align: center; }

tr th {
  color: #ddbd05;
  font-weight: 700;
  font-size: 17px;
  border: 5px;
  border-color: #ffffff;
  border-style: solid; }

tr td {
  border-color: #ddbd05;
  border-style: solid; }

ul {
  list-style: none; }
  ul li {
    width: 15%;
    position: relative;
    font-size: 14px;
    padding: 2px; }
    ul li a {
      color: #ddbd05;
      font-style: italic;
      font-size: 18px;
      text-decoration: none; }

body {
  background-image: url("/images/fondo.jpg");
  background-size: cover; }

.cajaProductos {
  width: 100%;
  height: 250px;
  margin-top: 7px; }

.bannerProductos1 {
  background-image: url(/images/01_img_procesadores.jpg);
  background-size: cover;
  width: 50%;
  height: 250px;
  float: left; }

.bannerProductos2 {
  background-image: url(/images/AMD-vs-NVIDIA-01.webp);
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 250px;
  float: right; }

#bannerATPC {
  width: 100%;
  height: 200px;
  margin: 0px 0px 7px; }

div table {
  border-top-style: double;
  border-top-color: darkviolet;
  border-left-style: groove;
  border-left-color: green;
  border-right-style: solid;
  border-right-color: blue;
  border-bottom-style: ridge;
  border-bottom-color: red; }

.imagen1 {
  background-image: url("/images/Proyectos.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 250px;
  margin: 10px; }

.imagen2 {
  background-image: url("/images/Soporte.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 250px;
  margin: 10px; }

.imagen3 {
  background-image: url("/images/como-empezo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 250px;
  margin: 10px; }

.imagen4 {
  background-image: url("/images/gaming.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 250px;
  margin: 10px; }

.imagen5 {
  background-image: url("/images/DiseñoGrafico.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 250px;
  margin: 10px; }

.imagen6 {
  background-image: url("/images/Oficina.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 250px;
  margin: 10px; }

.hijo1 {
  background-image: url(/images/gama-entrada.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.hijo2 {
  background-image: url(/images/gama-baja.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.hijo3 {
  background-image: url(/images/gama-optima.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.hijo4 {
  background-image: url(/images/gama-monster.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#grad {
  background-image: linear-gradient(to top, #ddbd05, black, black, black, #ddbd05); }

input {
  transition: all 5s; }

input:focus {
  width: 200px;
  height: 32px; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
