header {
    background-color: black;
}

p {
    background-color: rgba(10, 10, 10, 0.699);
    color: whitesmoke;
}

section div {
    border: 3px solid black;
    color: red;
    background-color: orange;
}

.subListas {
    color: #FFFF;
    }